@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  font-family: "Montserrat";
  font-size: 1em;
  filter: blur(0.02em);
}

.container {
  margin: 0 auto;
  padding: 1em;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-top: 0.75em;
}

a {
  position: relative;
  top: 0;
  text-decoration: none;
  color: #000;
  transition: all 0.15s ease;
}
a:hover {
  top: -0.25em;
}

@media screen and (max-width: 1450px) {
  body {
    font-size: 0.95em;
  }
}
@media screen and (max-width: 1250px) {
  main {
    grid-template-columns: 1fr;
  }
  .container {
    max-width: 800px;
  }
}
/*@media screen and (max-width: 1100px) {
    body {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 1000px) {
    body {
        //padding: 0.5em 1.35em;
        font-size: 0.75em;
    }
}

@media screen and (max-width: 900px) {
    body {
        //padding: 0.5 1em;
        font-size: 0.7em;
    }
}

@media screen and (max-width: 800px) {
    body {
        font-size: 0.65em;
    }
}*/
@media screen and (max-width: 700px) {
  body {
    font-size: 0.9em;
    filter: blur(0);
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 500px) {
  body {
    font-size: 0.75em;
  }
}
@media screen and (max-width: 400px) {
  body {
    font-size: 0.7em;
  }
}
header {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

.logo-and-name {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.logo-and-name .logo {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.5em;
  border-radius: 1.5em;
  background-color: #000;
  color: white;
}

.navigation-buttons {
  display: flex;
  gap: 4em;
  margin-left: 10em;
  font-weight: 600;
}
.navigation-buttons > a {
  padding: 1em;
}

.head {
  display: flex;
}

.corner {
  position: relative;
  left: 0.1em;
  top: 0.1em;
  width: 1em;
  background-color: white;
  -webkit-clip-path: polygon(100% 20%, 10% 100%, 100% 100%);
          clip-path: polygon(100% 20%, 10% 100%, 100% 100%);
}
.corner > div {
  background-color: rgb(123, 211, 234);
  width: 100%;
  height: 100%;
}

.contact {
  background-color: rgb(123, 211, 234);
  text-align: center;
  border-radius: 1.15em 1.15em 0 0;
  padding: 1em 2.5em;
}
.contact a {
  background-color: rgb(247, 249, 127);
  padding: 0.5em 1.5em;
  border-radius: 1.15em;
}

.round-corner {
  background-color: #000;
  width: 2em;
  height: 2em;
}

@media screen and (max-width: 600px) {
  header {
    font-size: 0.75em;
  }
  .navigation-buttons {
    gap: 0.5em;
    margin-left: 2em;
  }
}
#introduction {
  background: rgb(123, 211, 234);
  color: #1c1c1c;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  gap: 2em;
  border-radius: 1.15em;
}

.short-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.short-info > h3 {
  margin: 0;
  font-size: 2.4em;
  font-weight: 600;
}
.short-info > h3 > span {
  color: rgb(247, 249, 127);
}

.download-cv {
  display: flex;
  align-items: center;
}
.download-cv > a {
  position: relative;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: rgb(247, 249, 127);
  color: #000;
  font-size: 1em;
  padding: 0.95em 1.325em;
  border-radius: 1.5625em;
  text-decoration: none;
  transition: all 0.3s ease;
}
.download-cv > a:hover {
  text-decoration: underline;
}
.download-cv > .small-parrot {
  height: 2.5em;
  margin-left: 1em;
}

.profile-picture {
  background-color: rgb(247, 249, 127);
  max-height: 15em;
  margin: auto;
  overflow: hidden;
  border: 0.25em solid rgb(247, 249, 127);
  border-radius: 15em;
}
.profile-picture > img {
  height: 15em;
  scale: 1.05;
  transition: all 0.3s ease;
}
.profile-picture > img:hover {
  scale: 1.075;
}

/*@media screen and (max-width: 1250px) {
    .profile-picture {
        margin: 2em auto;
    }
}

@media screen and (max-width: 700px) {
    #introduction {
        padding: 1.4em;
    }
}*/
@media screen and (max-width: 600px) {
  .short-info > h3 {
    font-size: 2.2em;
  }
}
@media screen and (max-width: 500px) {
  #introduction {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 450px) {
  .short-info {
    font-size: 0.9em;
  }
}
.course-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  transition: all 0.3s ease;
}
.course-box > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-box > div > h4 {
  font-size: 2em;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0;
}

.course-box-item {
  background-color: #ececec;
  padding: 1.25em;
  border-radius: 1.15em;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.course-box-item:hover .item-bg {
  transform: scale(10.5);
}

.logo-and-name {
  display: flex;
  position: relative;
  left: 0;
  z-index: 2;
}
.logo-and-name img {
  height: 4em;
  border-radius: 0.75em;
}
.logo-and-name h3 {
  font-size: 1.2em;
  margin: 0 0.75em;
}

.description {
  display: flex;
  position: relative;
  top: 0;
  margin-top: 1em;
  font-size: 1em;
  z-index: 2;
}

.item-bg {
  height: 8em;
  width: 8em;
  position: absolute;
  top: -4.6875em;
  right: -4.6875em;
  border-radius: 50%;
  transition: all 0.3s ease;
  z-index: 0;
}

.webrebel .item-bg {
  background-color: rgb(123, 211, 234);
}

.oop .item-bg {
  background-color: rgb(247, 249, 127);
}

.sass .item-bg {
  background-color: rgb(172, 179, 239);
}

.github .item-bg {
  background-color: rgb(255, 193, 193);
}

.js-games .item-bg {
  background-color: rgb(141, 223, 203);
}

@media screen and (max-width: 1250px) {
  .description {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 850px) {
  #courses {
    font-size: 0.85em;
  }
}
@media screen and (max-width: 700px) {
  .course-box {
    grid-template-columns: 1fr 1fr;
  }
}
#about-me {
  border-radius: 1.15em;
}
#about-me > h5 {
  text-align: center;
  font-size: 2.8em;
  margin: 0 1em;
}
#about-me p {
  margin: 0.5em 0;
  padding-left: 0.3em;
  border-left: 0.5em solid;
}
#about-me p:nth-child(2) {
  border-color: rgb(172, 179, 239);
}
#about-me p:nth-child(3) {
  border-color: rgb(255, 193, 193);
}
#about-me p:nth-child(4) {
  border-color: rgb(141, 223, 203);
}
#about-me p:nth-child(5) {
  border-color: rgb(172, 179, 239);
}
#about-me p a {
  font-weight: 700;
}
#about-me p a:nth-child(1) {
  border-bottom: 0.1em solid rgb(123, 211, 234);
}
#about-me p a:nth-child(2) {
  border-bottom: 0.1em solid rgb(141, 223, 203);
}
#about-me p a:nth-child(3) {
  border-bottom: 0.1em solid rgb(141, 223, 203);
}
#about-me p a:hover {
  top: -0.1em;
}

footer {
  background-color: rgb(242, 242, 242);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 2em;
}

.contact-footer {
  font-size: 1.25em;
}
.contact-footer i {
  font-style: normal;
}/*# sourceMappingURL=style.css.map */