@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0.5em 1.875em;
  font-family: "Montserrat";
  font-size: 1em;
  filter: blur(0.02em);
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

a {
  position: relative;
  top: 0;
  text-decoration: none;
  color: #000;
  transition: all 0.15s ease;
}
a:hover {
  top: -0.25em;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 1100px) {
  body {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1000px) {
  body {
    padding: 0.5em 1.35em;
    font-size: 0.75em;
  }
}
@media screen and (max-width: 900px) {
  body {
    padding: 0.5 1em;
    font-size: 0.7em;
  }
}
@media screen and (max-width: 800px) {
  body {
    font-size: 0.65em;
  }
}
@media screen and (max-width: 700px) {
  body {
    font-size: 0.575em;
    filter: blur(0);
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 500px) {
  body {
    font-size: 0.425em;
  }
}
@media screen and (max-width: 400px) {
  body {
    font-size: 0.4em;
  }
}
header {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

.logo-and-name {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.logo-and-name .logo {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.5em;
  border-radius: 1.5em;
  background-color: #000;
  color: white;
}

.navigation-buttons {
  display: flex;
  gap: 4em;
  margin-left: 10em;
  font-weight: 600;
}
.navigation-buttons > a {
  padding: 1em;
}

.head {
  display: flex;
}

.corner {
  position: relative;
  left: 0.1em;
  top: 0.1em;
  width: 1em;
  background-color: white;
  -webkit-clip-path: polygon(100% 20%, 10% 100%, 100% 100%);
          clip-path: polygon(100% 20%, 10% 100%, 100% 100%);
}
.corner > div {
  background-color: rgb(123, 211, 234);
  width: 100%;
  height: 100%;
}

.contact {
  background-color: rgb(123, 211, 234);
  text-align: center;
  border-radius: 1.15em 1.15em 0 0;
  padding: 1em 2.5em;
}
.contact a {
  background-color: rgb(247, 249, 127);
  padding: 0.5em 1.5em;
  border-radius: 1.15em;
}

.round-corner {
  background-color: #000;
  width: 2em;
  height: 2em;
}

@media screen and (max-width: 500px) {
  .navigation-buttons {
    gap: 2em;
    margin-left: 5em;
  }
}
#introduction {
  background: rgb(123, 211, 234);
  display: flex;
  justify-content: space-between;
  border-radius: 1.15em 0 1.15em 1.15em;
}

.short-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.875em 3.125em;
}
.short-info > h3 {
  margin: 0;
  font-size: 3em;
  font-weight: 600;
}
.short-info > h3 > span {
  color: rgb(247, 249, 127);
}

.download-cv {
  display: flex;
  align-items: center;
}
.download-cv > a {
  position: relative;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: rgb(247, 249, 127);
  color: #000;
  font-size: 1em;
  padding: 0.95em 1.325em;
  border-radius: 1.5625em;
  text-decoration: none;
  transition: all 0.3s ease;
}
.download-cv > a:hover {
  text-decoration: underline;
}
.download-cv > .small-parrot {
  height: 3em;
  margin-left: 1em;
}

.profile-picture {
  background-color: rgb(247, 249, 127);
  margin: 1.5em auto;
  overflow: hidden;
  border: 0.25em solid rgb(247, 249, 127);
  border-radius: 15em;
}
.profile-picture > img {
  height: 20em;
  scale: 1.05;
  transition: all 0.3s ease;
}
.profile-picture > img:hover {
  scale: 1.075;
}

@media screen and (max-width: 400px) {
  .short-info {
    padding: 1em 1.5em;
  }
  .short-info > h3 {
    font-size: 2.6em;
  }
}
#education {
  font-family: "Montserrat";
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  margin-top: 1.2em;
  padding-bottom: 1.2em;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.my-projects {
  text-align: center;
}
.my-projects h2 {
  font-size: 3.2em;
  font-weight: 600;
  margin: 0.5em 0;
}
.my-projects span {
  color: rgb(123, 211, 234);
}

.about-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2em;
}
.about-projects > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 1.15em;
  color: #000;
  text-decoration: none;
}
.about-projects > a:nth-child(1) {
  background-color: rgb(255, 193, 193);
}
.about-projects > a:nth-child(2) {
  background-color: rgb(185, 237, 221);
}
.about-projects > a > h5 {
  margin: 0.2em;
  font-size: 2.5em;
  font-weight: 500;
}
.about-projects > a > p {
  margin: 0;
  font-size: 3em;
  font-weight: 700;
}

@media screen and (max-width: 1350px) {
  .my-projects h2 {
    font-size: 4.2em;
  }
}
@media screen and (max-width: 800px) {
  .my-projects h2 {
    font-size: 4em;
  }
}
@media screen and (max-width: 600px) {
  .about-projects > a > h5 {
    font-size: 3em;
  }
}
@media screen and (max-width: 500px) {
  .my-projects h2 {
    font-size: 3.2em;
  }
}
#courses {
  padding-top: 1.2em;
  margin-bottom: 8em;
}

.course-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  transition: all 0.3s ease;
}
.course-box > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-box > div > h4 {
  font-size: 2em;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0;
}

.course-box-item {
  overflow: hidden;
  border-radius: 1.5em;
  padding: 1.25em;
  background-color: #ececec;
  overflow: hidden;
  position: relative;
}

.course-box-item:hover .item-bg {
  transform: scale(10.5);
}

.logo-and-name {
  display: flex;
  position: relative;
  left: 0;
  z-index: 2;
}
.logo-and-name img {
  max-width: 15em;
  height: 5em;
  border-radius: 0.75em;
  transform: scale(1);
}
.logo-and-name h3 {
  font-size: 1.2em;
  margin: 0 0.75em;
}

.description {
  display: flex;
  position: relative;
  top: 0;
  margin-top: 1em;
  font-size: 1em;
  z-index: 2;
}

.item-bg {
  height: 8em;
  width: 8em;
  position: absolute;
  top: -4.6875em;
  right: -4.6875em;
  border-radius: 50%;
  transition: all 0.3s ease;
  z-index: -1;
}

.webrebel .item-bg {
  background-color: rgb(123, 211, 234);
}

.oop .item-bg {
  background-color: rgb(247, 249, 127);
}

.sass .item-bg {
  background-color: rgb(172, 179, 239);
}

.github .item-bg {
  background-color: rgb(255, 193, 193);
}

.js-games .item-bg {
  background-color: rgb(141, 223, 203);
}

@media screen and (max-width: 700px) {
  .course-box {
    grid-template-columns: 1fr 1fr;
  }
}
#about-me {
  margin-top: 1.2em;
  margin-bottom: 8em;
  border-radius: 1.15em;
}
#about-me > h5 {
  text-align: center;
  font-size: 2.8em;
  margin: 0 1em;
}
#about-me > p {
  padding-left: 0.3em;
  font-size: 1.2em;
  border-left: 0.75em solid rgb(172, 179, 239);
}
#about-me > p > a {
  font-weight: 700;
}
#about-me > p > a:hover {
  top: -0.1em;
}

#hobby {
  padding-top: 1.2em;
}
#hobby > h5 {
  text-align: center;
  font-size: 2.8em;
  margin: 0 1em;
}
#hobby > p {
  padding-left: 0.3em;
  font-size: 1.5em;
  border-left: 0.75em solid rgb(247, 249, 127);
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 3em;
}

.contact-footer {
  font-size: 1.25em;
}
.contact-footer i {
  font-style: normal;
  margin-left: 1em;
}/*# sourceMappingURL=style.css.map */