@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0.5em 1.875em;
  font-family: "Montserrat";
  font-size: 1em;
  filter: blur(0.03em);
}

.container {
  margin: 0 auto;
  max-width: 91em;
}

a {
  position: relative;
  top: 0;
  text-decoration: none;
  color: #000;
  transition: all 0.15s ease;
}
a:hover {
  top: 0.25em;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo-and-name {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 700;
}
.logo-and-name .logo {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.5em;
  border-radius: 1.5em;
  background-color: #000;
  color: white;
}

.navigation-buttons {
  display: flex;
  gap: 4em;
  margin-left: 10em;
  font-weight: 600;
}
.navigation-buttons > a {
  padding: 1em;
}

.contact {
  background-color: rgb(123, 211, 234);
  text-align: center;
  border-radius: 1.15em 1.15em 0 0;
  padding: 1em 2.5em;
}
.contact a {
  background-color: rgb(247, 249, 127);
  padding: 0.5em 1.5em;
  border-radius: 1.15em;
}

.short-info {
  background: rgb(123, 211, 234);
  display: flex;
  justify-content: space-between;
  gap: 10em;
  padding: 1.875em 3.125em;
  border-radius: 1.15em 0 1.15em 1.15em;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.introduction > h3 {
  margin: 0;
  font-size: 3.5em;
  font-weight: 600;
}
.introduction > h3 > span {
  color: rgb(247, 249, 127);
}

.cv {
  display: flex;
  align-items: center;
}
.cv > a {
  position: relative;
  top: 0;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: rgb(247, 249, 127);
  color: #000;
  font-size: 1em;
  padding: 0.95em 1.325em;
  border-radius: 1.5625em;
  text-decoration: none;
  transition: all 0.3s ease;
}
.cv > a:hover {
  top: 0.1875em;
  text-decoration: underline;
}
.cv > .parrot {
  height: 3em;
  margin-left: 1em;
  filter: blur(0);
}

.profile-picture {
  background-color: rgb(247, 249, 127);
  margin: 1.5625em auto;
  overflow: hidden;
  border: 0.3em solid rgb(247, 249, 127);
  border-radius: 10em;
}
.profile-picture > div {
  background-image: url(../img/viktorio.png);
  background-size: 115%;
  background-position: center 0.625em;
  background-repeat: no-repeat;
  width: 16em;
  height: 24em;
  transition: all 0.3s ease;
}
.profile-picture > div:hover {
  scale: 1.05;
}

.portfolio {
  font-family: "Montserrat";
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  margin-top: 1.2em;
}

.my-projects h2 {
  font-size: 4.5em;
  font-weight: 600;
}
.my-projects span {
  color: rgb(123, 211, 234);
}

.about-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2em;
}
.about-projects > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 1.15em;
  color: #000;
  text-decoration: none;
}
.about-projects > a:nth-child(1) {
  background-color: rgb(255, 193, 193);
}
.about-projects > a:nth-child(2) {
  background-color: rgb(184, 191, 255);
}
.about-projects > a > h5 {
  margin: 0.2em;
  font-size: 3.5em;
  font-weight: 500;
}
.about-projects > a > p {
  margin: 0;
  font-size: 4em;
  font-weight: 700;
}

#three {
  background-color: rgb(185, 237, 221);
  margin-top: 1.2em;
  border-radius: 1.15em;
}
#three > div {
  float: left;
  margin: 1em;
  background-color: rgb(247, 249, 127);
  border-radius: 1.15em;
}
#three img {
  height: 10em;
}
#three p {
  padding: 1em;
  margin: 0;
}

@media screen and (max-width: 1350px) {
  .introduction > h3 {
    font-size: 3.6em;
  }
  .profile-picture > div {
    width: 14em;
    height: 22em;
  }
  .my-projects h2 {
    font-size: 4.2em;
  }
}
@media screen and (max-width: 1200px) {
  body {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 1100px) {
  body {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1000px) {
  body {
    padding: 0.5em 1.35em;
    font-size: 0.75em;
  }
  .profile-picture > div {
    width: 12em;
    height: 19em;
  }
}
@media screen and (max-width: 900px) {
  body {
    padding: 0.5 1em;
    font-size: 0.7em;
  }
  .short-info {
    padding: 1.5em 2.5em;
  }
  .introduction > h3 {
    font-size: 3.2em;
  }
}
@media screen and (max-width: 800px) {
  body {
    font-size: 0.65em;
  }
  .my-projects h2 {
    font-size: 4em;
  }
}
@media screen and (max-width: 700px) {
  body {
    font-size: 0.575em;
    filter: blur(0);
  }
  .short-info {
    gap: 5em;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 0.5em;
  }
  .about-projects > a > h5 {
    font-size: 3em;
  }
}
@media screen and (max-width: 500px) {
  body {
    font-size: 0.425em;
  }
  .navigation-buttons {
    display: flex;
    gap: 2em;
    margin-left: 5em;
  }
  .my-projects h2 {
    font-size: 3.2em;
  }
}
@media screen and (max-width: 400px) {
  body {
    font-size: 0.4em;
  }
  .short-info {
    padding: 1em 1.5em;
    gap: 3em;
  }
  .introduction > h3 {
    font-size: 2.6em;
  }
}/*# sourceMappingURL=style.css.map */