#about-me {
    margin-top: 1.2em;
    border-radius: $basic-radius;
    & > h5 {        
        text-align: center;
        font-size: 2.8em;
        margin: 0 1em;
    }
    & > p {
        background-color: rgb(254, 255, 176);
        //margin: 1em 2em;
        padding-left: 0.3em;
        font-size: 1.5em;
        border-left: 0.75em solid $purple;
        & > a {
            //background-color: $lightred;
            //padding: 0.1em;
            //border-radius: 0.5em;
            font-weight: 700;
            &:hover {
                top: -0.1em;
            }
        }
    }
}
