#about-me {
    //min-height: 100vh;
    //background-color: wheat;
    display: flex;
    justify-content: center;
    margin-top: 1.2em;
    margin-bottom: 50em;
}

.bottom-profile-picture{
    background-color: $lightgreen;
    padding: 1em;
    border-radius: $basic-radius;
    clip-path: polygon(70% 0, 73% 8%, 100% 8%, 100% 100%, 0 100%, 0 0);
    & > img {
        background-color: $lightyellow;
        height: 14em;
        border-radius: 14em;
    }
}