
#courses {
    padding-top: 1.2em;
    margin-bottom: 8em;
}

.course-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    transition: all 0.3s ease;
    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        
        & > h4 {
            font-size: 2em;
            max-width: fit-content;
            margin: 0;
        }
    }
}

.course-box-item {
    overflow: hidden;
    border-radius: 1.5em;
    padding: 1.25em;
    background-color: #ececec;
    overflow: hidden;
    position: relative;
}

.course-box-item:hover {
    & .item-bg {
        transform: scale(10.5);
    }
}

.logo-and-name {
    display: flex;
    position: relative;
    left: 0;
    z-index: 2;
    & img {
        max-width: 15em;
        height: 5em;
        border-radius: 0.75em;
        transform: scale(1);
    }
    & h3{
        font-size: 1.2em;
        margin: 0 0.75em;
    }
}

.description {
    display: flex;
    position: relative;
    top: 0;
    margin-top: 1em;
    font-size: 1em;
    z-index: 2;
}

.item-bg {
    height: 8em;
    width: 8em;
    position: absolute;
    top: -4.6875em;
    right: -4.6875em;
    border-radius: 50%;
    transition: all 0.3s ease ;
    z-index: -1;
}

.webrebel .item-bg {
    background-color: $lightblue;
}

.oop .item-bg {
    background-color: $lightyellow;
}

.sass .item-bg {
    background-color: $purple;
}

.github .item-bg {
    background-color: $lightred;
}

.js-games .item-bg {
    background-color: $greenblue;
}

//Media

@media screen and (max-width: 700px) {
    .course-box {
        grid-template-columns: 1fr 1fr;
    }
}