footer {
    background-color: rgb(242, 242, 242);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 2em;
}

.contact-footer {
    font-size: 1.25em;
    //padding-bottom: 0;
    & i {
        font-style: normal;
    }
}