footer {
    background-color: $grey;
    display: flex;
    justify-content: flex-end;
    height: 3em;
}

.contact-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    margin: 0 1em;
    & i {
        font-style: normal;
    }
}

//Media

@media screen and (max-width: 1250px) {
    footer {
        justify-content: center;
    }

    .contact-footer {
        width: 800px;
    }
}