footer {
    background-color: $grey;
    display: flex;
    justify-content: flex-end;
    height: 2em;
}

.contact-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    margin: 0 1em;
    & i {
        font-style: normal;
    }
}