
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0.5em 1.875em;
    font-family: 'Montserrat';
    font-size: 1em;   
    filter: blur(0.03em);
}

.container {
    margin: 0 auto;
    max-width: 91em;
}

a {
    position: relative;
    top: 0;
    text-decoration: none;
    color: #000;
    transition: all 0.15s ease;
    &:hover {
        top: 0.25em;  
    }
}

//Media

@media screen and (max-width: 1200px) {
    body {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 1100px) {
    body {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 1000px) {
    body {
        padding: 0.5em 1.35em;
        font-size: 0.75em;
    }
}

@media screen and (max-width: 900px) {
    body {
        padding: 0.5 1em;
        font-size: 0.7em;
    }
}

@media screen and (max-width: 800px) {
    body {
        font-size: 0.65em;
    }
}

@media screen and (max-width: 700px) {
    body {
        font-size: 0.575em;
        filter: blur(0);
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 0.5em;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: 0.425em;
    }
}

@media screen and (max-width: 400px) {
    body {
        font-size: 0.4em;
    }
}