
html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    font-family: 'Montserrat';
    font-size: 1em;   
    filter: blur(0.02em);
}

.container {
    margin: 0 auto;
    padding: 1em;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin-top: 0.75em;
}

a {
    position: relative;
    top: 0;
    text-decoration: none;
    color: #000;
    transition: all 0.15s ease;
    &:hover {
        top: -0.25em;  
    }
}

//Media
@media screen and (max-width: 1450px) {
    body {
        font-size: 0.95em;
    }
}

@media screen and (max-width: 1250px) {
    main {
        grid-template-columns: 1fr;
    }

    .container {
        max-width: 800px;
    }
}

@media screen and (max-width: 700px) {
    body {
        font-size: 0.9em;
        filter: blur(0);
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 400px) {
    body {
        font-size: 0.7em;
    }
}