#hobby {
    padding-top: 1.2em;
    margin-bottom: 8em;
    & > h5 {        
        text-align: center;
        font-size: 2.8em;
        margin: 0 1em;
    }
    & > p {
        //background-color: rgb(208, 252, 233);
        //text-align: right;
        padding-left: 0.3em;
        font-size: 1.2em;
        border-left: 0.75em solid $lightyellow ;
    }
}