$basic-radius: 1.15em;

$dark: rgb(15,19,34);
$lightblue: rgb(123,211,234);
$blue: rgb(63, 178, 240);
$lightgreen: rgb(185,237,221);
$purple: rgb(172, 179, 239);
$greenblue: rgb(141,223,203);
$lightyellow: rgb(247,249,127);
$lightred: rgb(255,193,193);
$red: rgb(255, 109, 109);